<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="work-container">
      <div class="work-list">
        <div class="work">
          <img src="/assets/workout1.avif" alt="workout" />
          <div class="layer">
            <h3>Golds Gym</h3>
            <p>
              The app allows you to browse through thousands of execercies, with
              the option to filter based on body parts or excersise.
            </p>
            <a href="https://goldsgym-dion.netlify.app/" class="linkicon"
              ><i class="fa-solid fa-arrow-up-right-from-square"></i
            ></a>
          </div>
        </div>

        <div class="work">
          <img src="/assets/food.avif" alt="foodrecipe" />
          <div class="layer">
            <h3>Forkify</h3>
            <p>
              Access different types of food recipes with the funtionality to
              add your own.
            </p>
            <a href="https://forkify-dion.netlify.app/" class="linkicon"
              ><i class="fa-solid fa-arrow-up-right-from-square"></i
            ></a>
          </div>
        </div>

        <div class="work">
          <img src="/assets/shoppingcart.avif" alt="shoppingcart" />
          <div class="layer">
            <h3>Yummy Cart</h3>
            <p>
              A Shopping cart app with the functionality to add, update and
              delete items in cart.
            </p>
            <a href="https://yummycart-dion.netlify.app/" class="linkicon"
              ><i class="fa-solid fa-arrow-up-right-from-square"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <div class="work-img">
      <img src="/assets/chillingman.svg" alt="chillingman" />
    </div>

    <div class="social-icons">
      <a href="https://www.instagram.com/dionanggg/" class="icon"
        ><i class="fa-brands fa-instagram fa-xl"></i
      ></a>
      <a href="https://www.linkedin.com/in/dionang/" class="icon"
        ><i class="fa-brands fa-linkedin fa-xl"></i
      ></a>
      <a href="https://github.com/Noiddd" class="icon"
        ><i class="fa-brands fa-github fa-xl"></i
      ></a>
    </div>
    <div class="vl"></div>
  </body>
</html>
