<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      .title {
        margin-right: 40px;
      }
    </style>
  </head>
  <body>
    <h1>Welcome to Dion's Food App</h1>
    <h3>Select a from a wide variety of food or create your own!</h3>

    <div>
      <a routerLink="/allEmpData" class="title">All Employee Data</a>
      <a routerLink="/empDeptList" class="title">All Department List</a>
      <a routerLink="/empList" class="title">Employee List</a>
    </div>

    <router-outlet></router-outlet>
  </body>
</html>
